@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
}

.conteudo .container{
    display: flex;
    justify-content: center;
    margin-left: 82px;
    margin-right: 82px;
    padding: 22px;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;

    
}

.conteudo .container .status{
    padding-left: 100px;
    padding-top: 30px;
}

.status h3{
    font-size: 40px;
    padding-bottom: 25px;
    text-transform: uppercase;
    color: #388E3C;
}

p{
    margin-bottom: 30px;
}

a{
    margin: 90px;
    background-color: #388E3C;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: bold;
   
    

}