@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}


header .menu {
  display: flex;
  justify-content: right;
}

header .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .menu ul li{
  display: inline-block;
  padding: 10px 12px;
}

header .menu ul li a{
  text-decoration: none;
  color: white;   
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: #388e3c;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

