@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


  body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

    .container {
      width: 400px;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
    }

    .container h2 {
      color: #388E3C;
    }

    .form-group {
  
      margin-bottom: 20px;
      color: #000;
      font-size: 14px;
      font-weight: 700;
    }

    label {
      width: 288px;
      height: 30px;
      flex-shrink: 0;
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    select {
      width: 288px;
      height: 30px;
      padding: 10px;
      border: 1px solid #388E3C;
      border-radius: 5px;
      flex-shrink: 0;
    }

    input[type="submit"] {
      padding: 10px 20px;
      background-color: #388E3C;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 288px;
      height: 30px;
      flex-shrink: 0;
      text-align: center;
    font-size: 14px;
  
    font-weight: 700;
    }

    input[type="submit"]:hover {
      background-color: #006400;
    }
 

    .form-group option{
font-size: 14px;
    }
    
    #horario {
      height:50px;
      width: 309px;

    }

    #plano {
      height: 50px;
      width: 309px;
    }

    /* conto de falhas: capitulo planos */
  
  .planos {
      display: flex;
      align-content: space-evenly;
  }
  
  .planos article{
      width: 345px; ;
      text-align:start;
      
  }
  
  .planos article h3{
      font-size: 22px;
  }
  
  .planos a{
      text-decoration: none;
      background-color: #388E3C;
      color: #FFF;
      font-size: 14px;
      font-weight: bold;
      padding: 5px 25px;
      text-decoration: none;
      border-radius: 60px;
      align-items: flex-end;
  
  }
  
  /* um verdadeiro conto de falhas */
  
    
