@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}

/* INCIO HEADER  */

header .menu {
  display: flex;
  justify-content: right;

}

header .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .menu ul li {
  display: inline-block;
  padding: 10px 12px;
}

header .menu ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}


header .menu ul li a::after {
  content: " ";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.5s ease-in-out;
}

header .menu ul li a:hover::after {
  width: 100%;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: #388e3c;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}


/* INCIO BANNER */
#carouselExampleSlidesOnly .carousel-inner {
  width: 100%;
  background: linear-gradient(rgb(144, 144, 250), rgb(255, 255, 255))
}

#carouselExampleSlidesOnly .carousel-inner .container-banner {
  margin-top: 50px;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  /* | row-reverse | column | column-reverse; */

}


#carouselExampleSlidesOnly .carousel-inner
/* FIM BANNER  */


/* FIM HEADER */


/*INCIO CARDS PLANOS*/

.apresentacao {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 1200px;
  height: 100px;
}

.planos .lista-planos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.planos .apresentacao h2 {
  color: #388E3C;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 65px;
  text-align: center;
}

.planos article {
  width: 300px;
  text-align: left;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px 100px / 120px;
  margin: 50px;
  padding: 40px;
  box-shadow: 10px 5px 5px rgb(210, 210, 210);
}

.planos {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.planos article h3 {
  font-size: 22px;
}

.planos .preco p {
  font-size: 30px;
  font-style: italic;
  color: #388E3C;
}

.planos .botao a {
  text-decoration: none;
  background-color: #388E3C;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}

/*  FIM CARD PLANOS */

/* FORMULARIO */
.container {
  width: 1200px;
  padding: 40px;
  margin: 0 auto;

}

.container h2 {
  color: #388E3C;
}

.img-vertical {
  width: 500px;
  height: 500px;
  background-image: url(/imagens/ilustra_contrato.svg);
  background-size: cover;
  background-position: right;
  margin-left: 100px;
}

section .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formulario {
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 10px 5px 5px rgb(210, 210, 210);
}

.form-group {

  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

label {
  width: 289px;
  height: 30px;
  flex-shrink: 0;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 289px;
  height: 30px;
  padding: 10px;
  border: 1px solid #388E3C;
  border-radius: 5px;
  flex-shrink: 0;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #388E3C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 310px;
  height: 35px;
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;

  font-weight: 700;
}

input[type="submit"]:hover {
  background-color: #006400;

}


.form-group option {
  font-size: 14px;
}

#horario {
  height: 50px;
  width: 310px;

}

#plano {
  height: 50px;
  width: 310px;
}

/* FIM FORMULARIO */

/* CONTEUDO */

.conteudo .container {
  display: flex;
  justify-content: center;
  padding: 22px;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 45px;
  margin-top: 50px;
}

.conteudo {
  background: linear-gradient(0deg, rgba(174, 236, 238, 1) 0%, rgba(144, 144, 250, 0) 100%);
}

conteudo .container .status {
  padding-left: 100px;
  padding-top: 30px;
}

.status {
  padding-left: 100px;
}

.status h3 {
  font-size: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #388E3C;
  margin-top: 10px;
}

.status p {
  margin-bottom: 30px;
  text-align: left;
  overflow-wrap: break-word;
}

.status .botao a {
  background-color: #388E3C;
  text-decoration: none;
  color: white;
  padding: 10px 130px;
  font-weight: bold;
  border-radius: 10px;
}

/* FIM CONTEUDO */

/* FOOTER */

footer .container {
  background-color: #388e3c;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 221px;
  border: 1px white;
  align-items: center;
}

footer .container .logo-footer img {
  width: 168px;
  height: 122px;
  margin-left: 70px;
}

footer .container .menu {
  margin-right: 400px;

}

footer .container .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .container .menu ul li {
  padding: 5px;
}

footer .container .menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 700;
}

footer .container p {
  /* padding-right: 400px;
  padding-left: 100px; */
  max-width: 100%;
  color: white;
}

footer .container .linha {
  width: 300px;
  border: 1px solid #000;
}

/* FIM FOOTER */